<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestClassPackage.Post_TC1"/>
      <class name="TestClassPackage.Put_TC1"/>
      <class name="TestClassPackage.Delete_TC1"/>
      <class name="TestClassPackage.Patch_TC1"/>
      <class name="TestClassPackage.Get_TC1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
